---
- name: Create Servers list for WebUI
  set_fact:
    shlink_web_servers:
      - name: '{{ shlink_domain }}'
        url: 'https://{{ shlink_domain }}'
        apiKey: '{{ shlink_api_key }}'

- name: Create Web UI servers file
  copy:
    dest: '{{ shlink_web_servers_file }}'
    content: '{{ shlink_web_servers | to_nice_json }}'
    owner: 'dockremap'
    group: 'docker'
    mode: '0644'