SHORT_DOMAIN_HOST={{ shlink_domain | mandatory }}
SHORT_DOMAIN_SCHEMA=https

PORT={{ shlink_app_cont_port | mandatory }}
WEB_WORKER_NUM={{ shlink_app_workers | mandatory }}
TASK_WORKER_NUM={{ shlink_app_workers | mandatory }}

REDIRECT_STATUS_CODE=302
INVALID_SHORT_URL_REDIRECT_TO={{ shlink_fallback_url }}
BASE_URL_REDIRECT_TO={{ shlink_fallback_url }}

# Disable all tracking
DISABLE_TRACK_PARAM=no-track
ANONYMIZE_REMOTE_ADDR=true
DISABLE_IP_TRACKING=true
DISABLE_REFERRER_TRACKING=true
DISABLE_UA_TRACKING=true
TRACK_ORPHAN_VISITS=false

DB_DRIVER=postgres
DB_HOST=db
DB_PORT={{ shlink_db_cont_port | mandatory }}
DB_NAME={{ shlink_db_name | mandatory }}
DB_USER={{ shlink_db_user | mandatory }}
DB_PASSWORD={{ shlink_db_pass | mandatory }}
