POSTGRES_DB={{ shlink_db_name }}
POSTGRES_USER={{ shlink_db_user }}
POSTGRES_PASSWORD={{ shlink_db_pass }}
# fixes chmod errors on DB startup due to volume + userns-remap
PGDATA=/var/lib/postgresql/data/pgdata
