---
version: '3.7'
services:
  web:
    container_name: '{{ shlink_web_cont_name }}'
    image: '{{ shlink_web_cont_image }}'
    restart: 'always'
    ports:
      - '127.0.0.1:{{ shlink_web_cont_port }}:8080'
    volumes:
      - '{{ shlink_web_servers_file }}:/usr/share/nginx/html/servers.json'
    depends_on:
      - 'app'
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - shlink

  app:
    container_name: '{{ shlink_app_cont_name }}'
    image: '{{ shlink_app_cont_image }}'
    env_file: '{{ shlink_service_path }}/app.env'
    restart: 'always'
    ports:
      - '127.0.0.1:{{ shlink_app_cont_port }}:8080/tcp'
    depends_on:
      - 'db'
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/rest/health"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - shlink

  db:
    container_name: '{{ shlink_db_cont_name }}'
    image: '{{ shlink_db_cont_image }}'
    user: root
    restart: 'always'
    env_file: '{{ shlink_service_path }}/db.env'
    command: '-p {{ shlink_db_cont_port }}'
    ports:
      - '127.0.0.1:{{ shlink_db_cont_port }}:{{ shlink_db_cont_port }}/tcp'
    tmpfs:
      - '/run/postgresql'
      - '/tmp'
    volumes:
      - '{{ shlink_db_cont_vol }}/data:/var/lib/postgresql/data'
      - '{{ shlink_db_cont_vol }}/backup:/backup'
    healthcheck:
      test: ["CMD", "pg_isready", "-p{{ shlink_db_cont_port }}", "-U{{ shlink_db_user }}"]
      interval: 10s
      retries: 3
    networks:
      - shlink

networks:
  shlink:
    name: shlink